@model DataProject.Data.AutoDbContext;
<div class="homePage">
    @foreach (var auto in Model.Autos)
    {
    /*<div>*/
        <div class="flex">
            <div>@auto.Mark</div>
            <div class="img">
                <img src="@auto.Image" />
            </div>
                <div>
                    <a>Buy</a>
                </div>
                    <div>
                       
                        <a asp-controller="Auto" asp-action="Information" asp-route-id="@auto.Id" asp-route-controllerName="Home">Information</a>
                    </div>
                    <div>
                        @if (((List<int>)@ViewBag.Ids) != null)
                        {
                            @if (((List<int>)@ViewBag?.Ids).Contains(auto.Id))
                            {
                                @foreach (var item in (List<int>)@ViewBag.Ids)
                                {
                                    if (item == auto.Id)
                                    {
                                        <a asp-controller="Favorites" asp-action="RemoveFromFavorites" asp-route-id="@auto.Id" asp-route-controllerName="Home" class="removeFromFavorites">Remove from favorites</a>
                                    }
                                }
                            }
                            else
                            {
                                <a asp-controller="Favorites" asp-action="AddToFavorite" asp-route-id="@auto.Id">To favorites</a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Favorites" asp-action="AddToFavorite" asp-route-id="@auto.Id">To favorites</a>
                        }



                    </div>
                        </div>
      /*</div>*/
        

    }
</div>